<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>Harry potter API</title>
    <meta name="title" content="Harry potter API">
    <meta name="description" content="A simple library that you can use to get information about Harry potter.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://c2dd-14-207-160-65.ngrok.io/">
    <meta property="og:title" content="Harry potter API">
    <meta property="og:description" content="A simple library that you can use to get information about Harry potter.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://c2dd-14-207-160-65.ngrok.io/">
    <meta property="twitter:title" content="Harry potter API">
    <meta property="twitter:description" content="A simple library that you can use to get information about Harry potter.">
    <meta property="twitter:image" content="">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script defer src="fancy.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1 align="center">Harry Potter API</h1>
        <p>A very cool API to get information on the Harry potter novel series/movies.</p>
    </header>
    <main>
        <section id="section0">
            <h1>What is it?</h1>
            <p>
                This is a API that provides endpoints for everything in the Harry Potter World. From the Hogwarts Houses to every spell, we've got it all!
            </p>
        </section>
        <section id="section1">
            <h1>Why?</h1>
            <p>
                There are many API's for many popular movie/book series, but surprisingly, there isnt much out there for Harry Potter. Everything I found either
                lacked a lot of information, or were abandoned. This api aims to fix that!
            </p>
        </section>
        <section id="section2">
            <h1>Is it finished?</h1>
            <p>
                At the time of writing, no it is not. It is currently in development, and is being updated every day.
            </p>
        </section>
        <section id="section3">
            <h1>Can I contribute?</h1>
            <p>
                Of course you can! Head over to https://github.com/YeffyCodeGit/PotterAPI, add your changes, open a pull request and we will review it!
            </p>
        </section>
    </main>
    <footer>
        Made with Golang and love
    </footer>
</body>
</html>