body {
	margin: 0;
	font-family: Poppins, sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(to top right, #a18cd1 0%, #fbc2eb 100%);
	padding: 35px 0;
}

section {
	text-align: center;
	max-width: 75vw;
}

footer {
	text-align: center;
	background: whitesmoke;
	padding: 15px;
}